<html>

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<style>
		.logo-container {
			background-color: #47bcff;
			color: #FFF;
		}

		.logo {
			font-family: 'Handlee', cursive;
			font-size: 2.5rem;
		}
	</style>

</head>

<body>
	<div class="logo-container mb-3 p-3 d-flex justify-content-between">
		<span class="logo">mudi</span>
		<span class="mt-3 mr-3">
			<a class="text-light" sec:authorize="!isAuthenticated()" href="/login">login</a>
			<a onclick="document.querySelector('#form-login').submit()" class="text-light"
				sec:authorize="isAuthenticated()" href="#">logout</a>
			<form id="form-login" th:action="@{/logout}" method="post"></form>
		</span>
	</div>
	<div class="row mb-2">
		<div class="col">
			<nav class="nav">
				<a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
				<a class="nav-link" th:href="@{/usuario/pedido}">Meus Pedidos</a>
				<a class="nav-link" th:href="@{/oferta}">Faça a sua Oferta</a>
				<a class="nav-link" th:href="@{/cep}">Cálculo de Frete</a>
			</nav>
		</div>
	</div>
	
	<div class="row">
		<div class="container col-md-6 col-sm-4">
		
			<div class="form-group mb-3">
			<label for="viacep">Cálculo de Frete e Prazos</label>
			<input id="cepService" onblur="getAddress()" type="text" class="form-control"
				placeholder="Informe o seu CEP">
		</div>

		<div class="form-group mb-3">
			<label for="logradouro">Logradoudro</label>
			<input id="logradouro" type="text" class="form-control" disabled="disabled">
		</div>

		<div class="form-group mb-3">
			<label for="bairro">Bairro</label>
			<input id="bairro" type="text" class="form-control" disabled="disabled">
		</div>

		<div class="form-group mb-3">
			<label for="uf">UF</label>
			<input id="uf" type="text" class="form-control" disabled="disabled">
		</div>

		<div class="form-group mb-3">
			<label for="uf">Localidade</label>
			<input id="localidade" type="text" class="form-control" disabled="disabled">
		</div>
		
		
		
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
		function getAddress() {

			const cep = document.getElementById('cepService').value

				axios.get(`http://localhost:8080/api/cep/${cep}`)
				.then(response => {
					document.getElementById('logradouro').value = response.data.logradouro
					document.getElementById('bairro').value = response.data.bairro
					document.getElementById('uf').value = response.data.uf
					document.getElementById('localidade').value = response.data.localidade	
		     });
		}
	</script>
</body>

</html>